.rsidebar {
  padding: 1.2rem 1rem;
  max-width: 330px;
  margin-left: 4.5%;
  flex: 0.33;

  height: fit-content;

  position: sticky;
  position: -webkit-sticky;
  top: 59px;
}

.rsidebar__label {
  line-height: 20px;
  font-size: 17px;
  color: #65676b;
  font-weight: 600;
  padding: 0.5rem 0;
}

.rsidebar > hr {
  border: 1px solid #ced0d4;
}

@media (max-width: 900px) {
  .rsidebar {
    display: none;
  }
}
