.sidebarRow {
  cursor: pointer;

  display: flex;
  align-items: center;

  padding: 8px 0.5rem;

  font-size: 15px;
}

.sidebarRow:hover {
  background-color: #e4e6e9;
  border-radius: 10px;
}

.sidebarRow > h4 {
  margin-left: 1rem;
  font-weight: 600;
  color: #050505;
}

.sidebarRow > .MuiAvatar-root {
  height: 36px !important;
  width: 36px !important;
}

/* .sidebarRow > .MuiSvgIcon-root {
  font-size: xx-large;
  color: var(--facebook-blue);
} */

#seemore {
  border-radius: 100%;
  background-color: var(--facebook-grey);
  color: black;
  font-size: x-large;
  padding: 5px;
}
